{% extends 'base.html' %}

{% block title %}
	{{ list.name }}
{% endblock %}

{% block content %}

	<h3>I don&rsquo;t know if you care, but here are</h2>
	<h1>{{ list.name }}</h1>

	<div class="links">
		see also:
		{% for link in lists %}
			{% if list.slug != link.slug %}
				<a href="{% url 'album_list_url' link.slug %}">
					{{ link.slug }}
				</a>
			{% endif %}
		{% endfor %}
	</div>

	<ul id="albums">
		{% for selection in selections %}
			<li>
				<div class="count count{{ selection.position }}">{{ selection.position }}</div>

				<div class="image"
						{% if selection.album.cover %}
							data-src="{{ MEDIA_URL }}{{ selection.album.cover }}
						{% endif %}">
					{% if selection.album.cover %}
						<img src="{{ MEDIA_URL }}{{ selection.album.cover }}" />
					{% endif %}
				</div>

				<div class="content">
					<h2>
						{{ selection.album.name }}
					</h2>
					<h3>
						by
						<span>{{ selection.album.artist }}</span>
					</h3>

					{% if selection.description %}
						<div class="description">
							{{ selection.description }}
						</div>
					{% endif %}

					{% if selection.album.sample and selection.album.sample_name %}
						<div class="song">
							{{ selection.album.sample_name }}
						</div>
						<audio controls>
							<source src="{{ MEDIA_URL }}{{ selection.album.sample }}" type="audio/mpeg">
						</audio>
					{% endif %}

					<div class="buy-links">
						{% for link in selection.album.albumlink_set.all %}
							<a class="link {{ link.classes }}" target="_blank" href="{{ link.href }}">
								{{ link.name }}
							</a>
						{% endfor %}
					</div>
				</div>

			</li>
		{% endfor %}
	</ul>

	<div id="thanks">
		That&rsquo;s it. Thanks for reading.
	</div>

{% endblock %}
