<div id="menuWrapper" class="wrapOut">
	<div class="wrapIn">
		<ul id="menu">
			<li>
				<a class="bio" href="/">
					Bio/Resume
				</a>
			</li>
			<li>
				<a class="web" href="/web">
					Web Design
				</a>
			</li>
			<li>
				<a class="photo" href="/photography">
					Photography
				</a>
			</li>
			<li>
				<a class="graphic" href="/graphic">
					Graphic Design
				</a>
			</li>
			<li>
				<a class="composition" href="/composition">
					Compositions and Multimedia
				</a>
			</li>
			<li>
				<a class="recordings" href="/recordings">
					Recordings
				</a>
			</li>
			<li>
				<a class="links" style="margin-right: 0px;" href="/links">
					Links
				</a>
			</li>
		</ul>
	</div>
</div>
